*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{

}

#header{
    height: 72px;
    width: auto;
    background-color: rgba(1, 1, 1, 0.4);
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 1;
    
}

#header a{
    font-weight: 700;
}

#header .logo{
    display: inline-block;
    line-height: 72px;
    padding-left: 16px;
    padding-right: 32px;
    color:rgb(0, 102, 255);
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    /* max-height: 72px; */
    max-width: 120px;
    min-width: 120px;
    line-height: 72px;
    /* padding: 0px 32px 0px 32px; */
    text-align: center;
}

#nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    
}

#nav li:hover{
    background-color: rgba(220, 220, 220, 0.4);

}

#nav li:hover a{
    color:aqua;
}

#login-btn{
    float: right;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 80px;
    margin-right: 16px;
    font-size: larger;
    border-radius: 5px;
}

#login-btn :hover{
    color: red;
    
}

#background{
    width: auto;
    padding-top:50%;
    position: relative;
    background: url(/assets/img/2829.jpg) top center / cover no-repeat;
}

#play-button{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:280px;
    height: 60px;
    width: 140px;
    /* color:rgb(0, 102, 255); */
    background-color: rgba(105, 101, 101, 0.4);
    border-radius: 5px;
    border-width: 1.5px;
    border-color: antiquewhite;
    letter-spacing: 4px;
    text-align: center;

}

#play-button a{
    color:red;
    font-size: 32px;
    font-weight: 700;
    overflow: hidden;
    text-shadow: 0 0 8px rgba(0,0,0,0.3)
}

#pb :hover a{
    
    color: purple;
}

#pb :hover{
    background-color: ghostwhite;
}

.name-container{
    color: aqua;
    left:50%;
    transform: translateX(-50%);
    bottom: 360px;
    position:absolute;
    font-size: 50px;
    text-shadow: -4px -4px 4px #111, 8px 8px 4px #363636;
}




