.guide{
    overflow: hidden;
    border: none;
    width: 100%;
    display: none;
    position: absolute;
    height: 90%;
    display: none;

}

@media (max-width: 740px) {
    .wrapper{
        display: none
    }
}