
.screen {
    // background-color: rgba(31,87,104);
    background-image: linear-gradient(to left top,#4b489c, #512668);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    min-width: 300px;
    min-height: 430px;
}
